
@{
    ViewBag.Title = "Cities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/datatable")

<script>

    app.controller('BankCtrl', ['$scope', 'svc', '$http', function ($scope, svc, $http) {


        $scope.banks = [];
        $scope.bank = {};
        $scope.msg = "";


        $scope.getBanks = function () {

            $http.get('/Bank/GetallBanks').then(

                function (successResponse) {

                    //this.notes = JSON.parse(successResponse);

                    $scope.banks = successResponse.data;
                },
                function (errorResponse) {
                    alert(errorResponse);
                    // handle errors here
                });
        };








        $scope.DeleteBank = function (bank) {
            if (confirm("Do you want to delete!")) {
                $http({
                    method: "post",
                    url: "/Bank/RemoveBank",
                    datatype: "json",
                    data: JSON.stringify(bank)
                }).then(function (response) {
                    $scope.getBanks();
                    if (response.data.IsError == false) {
                        svc.notifymsg(false);
                        // util.notifymsg(false);

                    }
                    else {
                        svc.notifymsgcus(true, response.data.Message);

                    }
                })
            }
        };

        $scope.addBank = function () {





            $http.post('/Bank/AddBank', $scope.bank).then(
                function (successResponse) {
                    if (successResponse.data.IsError == true) {
                        $scope.msg = successResponse.data.Message;

                    }
                    else {
                        $('.modal').modal('close');;
                        svc.notifymsg(false);
                        // util.notifymsg(false);

                        $scope.getBanks();

                    }


                    console.log(successResponse.data.IsError);
                },
                function (errorResponse) {
                    // handle errors here
                });
        };
    }]);

    $(document).ready(function () {
        // Handler for .ready() called.
        //alert("ready");
        var scope = angular.element(document.getElementById("MainContent")).scope();
        scope.$apply(function () {
            scope.getDrivers();
            scope.getseleclistvehicle();

        });
    });
</script>
<div id="MainContent" ng-controller="BankCtrl">
    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper"></div>
        <div class="col s12">
            <div class="container">
                <div class="section section-data-tables">
                    <!-- Page Length Options -->
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <h4 class="card-title left">Cities</h4>
                                    <a class="right waves-effect waves-light btn btn-small modal-trigger" href="#modal1">Add City <i class="material-icons right">add</i></a>
                                    <div id="modal1" class="modal">
                                        <form ng-submit="addBank()" id="frm" name="frm" class="col s12">
                                            <div class="modal-content">
                                                <!-- Form Advance -->
                                                <div class="col s12 m12 l12">

                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="first_name01" ng-model="bank.Bank1" required type="text">
                                                            <label for="first_name01">City Name</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Form End -->
                                            </div>
                                            <div class="modal-footer">
                                                <div class="input-field col s12">
                                                    <span style="float:left;color:red;font-size:medium" id="messages" ng-bind="msg"></span>
                                                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
                                                    <input type="submit" class="modal-action  waves-green btn" value="Add" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <table id="data-table-simple" class="display nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>City Name</th>
                                                        <th>Created On</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="bank in banks">
                                                        <td>{{bank.Id}}</td>
                                                        <td>{{bank.Bank1}}</td>
                                                        <td>{{bank.Branch}}</td>
                                                        <td class="center"><a class="btn-floating"><i class="material-icons">edit</i></a>  <a class="btn-floating" ng-click="DeleteBank(bank)"><i class="material-icons">delete</i></a></td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>City Name</th>
                                                        <th>Created On</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>

