
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row" id="ContentMain" ng-controller="HomeCtrl">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper"></div>

        <div class="col s12">
            <div class="container">
                <div class="section section-data-tables">
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <h4 class="card-title left">Contract</h4>
                                    
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="col s3">
                                                <h5>SBR</h5>
                                                <h6>40201006</h6>
                                            </div>
                                            <div class="col s3">
                                                <h5>Party</h5>
                                                <h6>FWO 6 ENG BN</h6>
                                            </div>
                                            <div class="col s3">
                                                <h5>Qty</h5>
                                                <h6>530</h6>
                                            </div>
                                            <div class="col s3">
                                                <h5>Total</h5>
                                                <h6>17.5</h6>
                                            </div>
                                            
                                            <div class="col s10 offset-s2">
                                                <table class="display nowrap striped">
                                                    <thead>
                                                        <tr>
                                                            <th>DO</th>
                                                            <th>QTY</th>
                                                            <th>Builty</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>123456</td>
                                                            <td>MM Corporation</td>
                                                            <td>45000</td>
                                                            <td>3000</td>
                                                        </tr>
                                                        <tr>
                                                            <td>123456</td>
                                                            <td>MM Corporation</td>
                                                            <td>45000</td>
                                                            <td>3000</td>
                                                        </tr>
                                                        <tr>
                                                            <td>123456</td>
                                                            <td>MM Corporation</td>
                                                            <td>45000</td>
                                                            <td>3000</td>
                                                        </tr>
                                                        <tr>
                                                            <td>123456</td>
                                                            <td>MM Corporation</td>
                                                            <td>45000</td>
                                                            <td>3000</td>
                                                        </tr>
                                                        <tr>
                                                            <td>123456</td>
                                                            <td>MM Corporation</td>
                                                            <td>45000</td>
                                                            <td>3000</td>
                                                        </tr>
                                                        <tr>
                                                            <td>123456</td>
                                                            <td>MM Corporation</td>
                                                            <td>45000</td>
                                                            <td>3000</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col s12">

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <h4 class="card-title left">Contract</h4>

                                    <div class="row">
                                        <div class="col s12">
                                            <div class="col s3">
                                                <h5>SBR</h5>
                                                <h6>40201006</h6>
                                            </div>
                                            <div class="col s3">
                                                <h5>Party</h5>
                                                <h6>FWO 6 ENG BN</h6>
                                            </div>
                                            <div class="col s3">
                                                <h5>Qty</h5>
                                                <h6>530</h6>
                                            </div>
                                            <div class="col s3">
                                                <h5>Total</h5>
                                                <h6>17.5</h6>
                                            </div>

                                            <div class="col s10 offset-s2">
                                                <table class="display nowrap striped">
                                                    <thead>
                                                        <tr>
                                                            <th>DO</th>
                                                            <th>QTY</th>
                                                            <th>Builty</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>123456</td>
                                                            <td>MM Corporation</td>
                                                            <td>45000</td>
                                                            <td>3000</td>
                                                        </tr>
                                                        <tr>
                                                            <td>123456</td>
                                                            <td>MM Corporation</td>
                                                            <td>45000</td>
                                                            <td>3000</td>
                                                        </tr>
                                                        <tr>
                                                            <td>123456</td>
                                                            <td>MM Corporation</td>
                                                            <td>45000</td>
                                                            <td>3000</td>
                                                        </tr>
                                                        <tr>
                                                            <td>123456</td>
                                                            <td>MM Corporation</td>
                                                            <td>45000</td>
                                                            <td>3000</td>
                                                        </tr>
                                                        <tr>
                                                            <td>123456</td>
                                                            <td>MM Corporation</td>
                                                            <td>45000</td>
                                                            <td>3000</td>
                                                        </tr>
                                                        <tr>
                                                            <td>123456</td>
                                                            <td>MM Corporation</td>
                                                            <td>45000</td>
                                                            <td>3000</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col s12">

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="container">
                <div class="section section-data-tables">
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">

                                    <div class="row">
                                        <div class="col s12">
                                            <div class="input-field col s4">
                                                <input id="sbr_lsb" type="text" class="validate">
                                                <label for="sbr_lsb">SBR / LSB</label>
                                            </div>
                                            <div class="input-field col s4">
                                                <input id="party" type="text" class="validate">
                                                <label for="party">Party</label>
                                            </div>
                                            <div class="input-field col s4">
                                                <input id="cement" type="text" class="validate">
                                                <label for="cement">Cement</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col s12">
                                            <div class="input-field col s12">
                                                <textarea id="address" class="materialize-textarea"></textarea>
                                                <label for="address">Address</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>