
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/datatable")

<script>

    app.controller('GoodsCtrl', ['$scope', 'svc', '$http', function ($scope, svc, $http) {

        $scope.goods = [];
        $scope.good = {};
        $scope.msg = "";
        $scope.selectlist = [];


        $scope.getGoods = function () {

            $http.get('/Goods/GetAllGoods').then(

                function (successResponse) {

                    //this.notes = JSON.parse(successResponse);
                    
                    $scope.goods = successResponse.data;
                },
                function (errorResponse) {
                    alert(errorResponse);
                    // handle errors here
                });
        };


        $scope.getUnits = function () {

            $http.get('/Goods/getUnits').then(

                function (successResponse) {

                    //this.notes = JSON.parse(successResponse);
                    //alert(successResponse.);
                    $scope.selectlist = successResponse.data;
                },
                function (errorResponse) {
                    alert(errorResponse);
                    // handle errors here
                });
        };

        $scope.DeleteGoods = function (good) {
            if (confirm("Do you want to delete!")) {
                $http({
                    method: "post",
                    url: "/Goods/RemoveGoods",
                    datatype: "json",
                    data: JSON.stringify(good)
                }).then(function (response) {
                    $scope.getGoods();
                    if (response.data.IsError == false) {
                        svc.notifymsg(false);
                        // util.notifymsg(false);
                        
                    }
                    else {
                        svc.notifymsgcus(true, response.data.Message);
                       
                    }
                })
            }
        };

        $scope.changeStatus = function () {
            alert("call");

        };

        $scope.addGoods = function () {
            if (!$scope.good.Unit || !$scope.good.Unit ) {

                $scope.msg = "Please select unit!";
                return;
            }
            $http.post('/Goods/AddGoods', $scope.good).then(
                function (successResponse) {
                    if (successResponse.data.IsError == true) {
                        $scope.msg = successResponse.data.Message;

                    }
                    else {
                        $('.modal').modal('close');;
                        svc.notifymsg(false);
                        // util.notifymsg(false);
                        angular.element('#cancel').triggerHandler('click');
                        $scope.getGoods();

                    }


                    console.log(successResponse.data.IsError);
                },
                function (errorResponse) {
                    // handle errors here
                });
        };
    }]);

    $(document).ready(function () {
        // Handler for .ready() called.
        //alert("ready");
        var scope = angular.element(document.getElementById("main")).scope();
        scope.$apply(function () {
            scope.getGoods();
            scope.getUnits();
            
        });
    });
</script>
<div id="main"   ng-controller="GoodsCtrl">
    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper"></div>
        <div class="col s12">
            <div class="container">
                <div class="section section-data-tables">
                    <!-- Page Length Options -->
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <h4 class="card-title left">GoodType</h4>
                                    <a class="right waves-effect waves-light btn btn-small modal-trigger" href="#modal1">Add Goods Type <i class="material-icons right">add</i></a>
                                    <div id="modal1" class="modal">
                                        <form  ng-submit="addGoods()" id="frm" name="frm" class="col s12">
                                            <div class="modal-content">
                                                <!-- Form Advance -->
                                                <div class="col s12 m12 l12">

                                                    <div class="row">
                                                        <div class="input-field col m6 s12">
                                                            <input id="first_name01" ng-model="good.Goods" required type="text">
                                                            <label for="first_name01">Goods Type</label>
                                                        </div>
                                                        <div class="input-field col m6 s12">
                                                            <input id="last_name" ng-model="good.Description" type="text">
                                                            <label for="last_name">Description</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <label>Unit</label>
                                                            <select ng-model="good.Unit" class="browser-default">
                                                                <option ng-repeat="x in selectlist" value="{{x.Value}}">{{x.Text}}</option>


                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- Form End -->
                                            </div>
                                            <div class="modal-footer">
                                                <div class="input-field col s12">
                                                    <span style="float:left;color:red;font-size:medium" id="messages" ng-bind="msg"></span>
                                                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
                                                    <input type="submit" class="modal-action  waves-green btn" value="Add" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <table id="data-table-simple" class="display nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Good Types</th>
                                                        <th>Description</th>
                                                        <th>Unit</th>
                                                        <th>Created On</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr  ng-repeat="good in goods">
                                                        <td>{{good.Id}}</td>
                                                        <td>{{good.Goods}}</td>
                                                        <td>{{good.Description}}</td>
                                                        <td>{{good.Unit}}</td>
                                                        <td>01-02-2019</td>
                                                        <td class="center"><a class="btn-floating"><i class="material-icons">edit</i></a>  <a class="btn-floating" ng-click="DeleteGoods(good)"><i class="material-icons">delete</i></a> </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Good Types</th>
                                                        <th>Description</th>
                                                        <th>Unit</th>
                                                        <th>Created On</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>