
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/angular")


<script>
    (function () {
        var app = angular.module('app', []);

        app.controller('HomeCtrl', ['$scope', '$http', function ($scope, $http, $window) {
            
            $scope.users = [];
            $scope.newEmployee = {};

            

            $scope.getEmployees = function () {
                $http.get('/Account/GetAllUsers').then(
                    function (successResponse) {
                       // alert(successResponse.data);
                        $scope.users = successResponse.data;
                    },
                    function (errorResponse) {
                       alert(errorResponse);
                        // handle errors here
                    });
            };

            
            $scope.addEmployee = function () {
                $http.post('/Home/AddEmployee', $scope.newEmployee).then(
                    function (successResponse) {
                        console.log('success');
                    },
                    function (errorResponse) {
                        // handle errors here
                    });
            };
        }]);
    })();


    $(document).ready(function () {
        // Handler for .ready() called.
        //alert("ready");
        var scope = angular.element(document.getElementById("main")).scope();
        scope.$apply(function () {
            scope.getEmployees();
        });
    });
</script>

<!-- 
<div id="MainWrap" ng-app="app" ng-controller="HomeCtrl">
    
    <h2>Get Employees</h2>
    <a href="" ng-click="getEmployees()">Get Employees</a>
    <div ng-repeat="user in users">
        <p>Id: {{user.Id}}</p>
        <p>First Name: {{user.FullName}}</p>
        <p>Last Name: {{user.FullName}}</p>
    </div>

    
</div>
-->

  
@Styles.Render("~/Content/datatable")
<div id="main"  ng-app="app" ng-controller="HomeCtrl">
    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper"></div>
        <div class="col s12">
            <div class="container">
                <div class="section section-data-tables">
                                       <div class="row">
                        <div class="col s12">
                                <div class="card">
                                    <div class="card-content">
                                        <h4 class="card-title left">User's</h4>
                                        <a class="right waves-effect waves-light btn btn-small modal-trigger" href="#modal1">Add User <i class="material-icons right">add</i></a>
                                        <div class="row">
                                            <div class="col s12">
                                                <table id="scroll-vert-hor" class="display nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>User</th>
                                                            <th>ID</th>
                                                            <th>Full Name</th>
                                                            <th>Email</th>
                                                            <th>Phone</th>
                                                            <th>Account Status</th>
                                                            <th>Role</th>
                                                            <th>Created On</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="user in users">
                                                            <td class="width-10"><img src="{{user.Picture}}" class="width-30 circle" alt="avatar"></td>
                                                            <td>{{user.Id}}</td>
                                                            <td>{{user.FullName.trim()}}</td>
                                                            <td>{{user.Email.trim()}}</td>
                                                            <td>{{user.Phone.trim()}}</td>
                                                            <td>                                                                <div class="switch center">
                                                                    <label>
                                                                       
                                                                            <input type="checkbox" ng-bind="user.AccountStatus" checked>
                                                                        
                                                                        
                                                                        
                                                                        <span class="lever"></span>
                                                                    </label>
                                                                </div></td>
                                                                <td>{{user.Role.trim()}}</td>
                                                                <td>{{user.CreatedOn}}</td>
                                                                <td class="center"><a class="btn-floating"><i class="material-icons">edit</i></a>  <a class="btn-floating"><i class="material-icons">delete</i></a> </td>
                                                            </tr>
                                                         
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <th>User</th>
                                                                <th>ID</th>
                                                                <th>Full Name</th>
                                                                <th>Email</th>
                                                                <th>Phone</th>
                                                                <th>Account Status</th>
                                                                <th>Role</th>
                                                                <th>Created On</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   